<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Casse brique MDN à la sauce pogo</title>
  {#   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">  #}
    <link rel="stylesheet" href="../assets/styles/octo.css" type="text/css" />
    <script src="https://kit.fontawesome.com/f352509bef.js" crossorigin="anonymous"></script>
  </head>
  <body>
{# {% include "layout/navbar.njk" %} #}
   <a  href="/" target="_self"><i class="fas fa-home fa-10x"></i></a>
    <canvas id="myCanvas" width="500%" height="300%"></canvas>

    <script src="../assets/styles/disco.js"></script>

  </body>
</html>
