{% extends "layout/index.njk" %}

{% block title %}
  <title>Games</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/assets/styles/games.css">
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>Games</h1>
</div>
  <ul>
    {% for game in games %}
      <li>
        <img src="{{game.cover.thumbnail}}" alt="{{game.name}} cover">
        <h3><a href="/games/{{game.slug}}">{{game.name}}</a></h3>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
