{% extends "layout/index.njk" %}

{% block content %}
<img id='imagehome' src="/assets/images/retro.png">
<div id="homebuttons" class="container d-flex justify-content-between ">
  <div class="w-50 d-flex justify-content-center">
    <a href="/games">
      <button type="button" class="btn btn-dark">Explore Video Games</button>  
    </a>
  </div>
  <div class="w-50 d-flex justify-content-center">
    <a href="/platforms">
       <button type="button" class="btn btn-dark">Explore Platforms</button>  
    </a>
  </div>
</div>

{% endblock %}
