{% extends "layout/index.njk" %}

{% block content %}
  <div id="divHomeButtons" class="row">
  
    <div id="divHomeButtonGa" class="col-6">
      <a type="button" id="homeButton" class="btn btn-dark" href="/games">
        Explore
        </br> Video Games
      </a>
    </div>
    <div id="divHomeButtonPl"  class="col-6">
      <a type="button" id="homeButton" class="btn btn-dark" href="/platforms">
        Explore 
        </br> Platforms 
      </a>
    </div>
    
</div>

{% endblock %}
