{% extends "layout/index.njk" %}

{% block content %}
<div id="divHome">
  <div id="divHomeButtons" class="row">
  
    <div id="divHomeButton" class="col-6">
      <a href="/games">
        <button type="button" id="homeButton" class="btn btn-dark">Explore Video Games</button>  
      </a>
    </div>
    <div id="divHomeButton"  class="col-6">
      <a href="/platforms">
         <button type="button" id="homeButton" class="btn btn-dark">Explore Platforms</button>  
      </a>
    </div>
    
</div>
</div>

{% endblock %}
