html {
  min-height: 100vh;
  max-width: 100vw;
}

.navbar-light .navbar-nav .nav-link.disabled {
  margin-left: 5vw;
}

.navbar-dark .navbar-toggler-icon {
}

#imagehome {
  width: 100vw;
}
#homebuttons {
  align-items: center;
  height: 20vh;
}
