<footer class="footer fixed-bottom font-small blue">


  <div class="footer-copyright">© 2020 Copyright:
    <a href="https://github.com/Zlarb02"> Zlarb02</a>
  </div>
  
     <div class="btn-group dropup">
  <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bonus
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/personal-page">Personal page</a>
          <a class="dropdown-item" href="/casse-brique">Casse-brique</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/parcs-jardins">Liste des parcs de Lille</a>
        </div>
      </div>

</footer>